html,
body {
	margin: 0;
	padding: 0;
	background-image: url('./img/table.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Play', sans-serif;
}

.container {
	margin: 0 auto;
	text-align: center;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

button {
	font-weight: 700;
	padding: 10px 20px;
	margin: 30px;
	width: 200px;
	border-radius: 5px;
	background-color: goldenrod;
	cursor: pointer;
	border: solid black 0.5px;
}

h2 {
	color: snow;
}

.card {
	width: 100%;
}

.card-slot {
	border: none;
	border-radius: 8px;
	background-color: darkgreen;
	width: 200px;
	height: 280px;
	margin: 40px;
}

.draw-btn {
	margin-top: auto;
}
